.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  position: relative;
  overflow: hidden;
}

.contact-form-background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ffd1ff, #a1c4fd, #c2e9fb);
  animation: gradientAnimation 15s ease infinite;
  transform: rotate(45deg);
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.5);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.contact-form {
  max-width: 500px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  animation: formAnimation 1s ease;
  margin: 0 auto;
}

@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 2rem;
  position: relative;
  padding-right: 2rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding-right: ;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form-input.error {
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.3);
}

.error-message {
  color: #ff0000;
  font-size: 0.9rem;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.form-submit {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff9a9e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-submit:hover {
  background-color: #ff7b86;
}

@media screen and (max-width: 600px) {
  .contact-form {
    padding: 2rem;
    width: 100%;
  }

  .form-title {
    font-size: 2rem;
  }

  .form-input,
  .form-textarea {
    font-size: 0.9rem;
  }

  .form-submit {
    font-size: 1rem;
  }
}