/* ElectricPulse.css */
.electric-pulse {
    position: absolute;
    width: 100px;
    height: 20px;
    opacity: 0.8;
    animation: fadeInOut 5s linear infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }
}

svg path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: movePulse 2s infinite;
}

@keyframes movePulse {
    to {
        stroke-dashoffset: 0;
    }
}