.footers {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  background-color: #000000;
}

.footers img {
  height: 50px;
  width: calc(100% / 7);
}

.footerp {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}