.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Change this line */
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  color: #fff;
  box-sizing: border-box;
  z-index: 50;
}

.header .logo {
  height: 50px;
  
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav {
  width: 10;
}